<div class="center hero-unit">
    <h1>Meow!</h1>
    <p>to <%= link_to 'See my friends',  "http://www.tumblr.com/tagged/meowl" %>
     </p>

    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>