<div class="footer">
    <small>
        <%= link_to "awkwardtechlady.com", "www.awkwardtechlady.com" %>
        by <%= link_to "Kelley", "http://www.linkedin.com/in/kelleydowney/" %>
    </small>
</div>